body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: #ecf0f1;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;

}

h1 {
  background: rgb(250, 250, 147);
  color: #666;
  margin: 0;
  padding: 10px 20px;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: normal;
}

.fa-plus {
  float: right;
}

li{
  background: white;
  height: 40px;
  line-height: 40px;
  color: #666;
  display: flex;
  align-items: center;
  padding-left: 0;
}
li:nth-child(2n){
  background: #f7f7f7;
}
span{
  background: #e0e0e0;
  height: 40px;
  margin-right: 20px;
  text-align: center;
  color: #fef17b;
  width: 40px;
  display: inline-block;
  transition: 0.2s linear;
  opacity: 0.1;
  cursor: pointer;
  line-height: 40px;
}

li:hover span{
  width: 40px;
  opacity: 1.0;
}


.input-container {
  display: flex;
  background-color: #f1f1f1;
  padding: 0; 
  border-bottom: 2px solid #ddd;
}

input {
  font-size: 18px;
  color: grey;
  background-color: #f1f1f1;
  width: 75%; 
  padding: 13px 13px 13px 20px;
  box-sizing: border-box;
  border: none; 
  flex-grow: 1;
}

input:focus {
  background-color: #fff;
  border: 3px solid rgb(250, 250, 147);
  outline: none;
}

.add-btn {
  background-color: #f0f0f0; 
  border: 2px solid #ccc;
  border-radius: 5px;
  color: #5d5c5b;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  padding: 0 20px;
  transition: background-color 0.2s;
  height: auto; 
}

.add-btn:hover {
  background-color: #e0e0e0;
}


#container {
  width: 360px;
  margin: 100px auto;
  background: #f1f1f1;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1); 
}

.completed {
  color: grey;
  text-decoration: line-through;
}

.empty-message {
  padding: 20px;
  text-align: center;
  color: #666;
}